table {
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

/* .App {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

h1{
  background-color: powderblue;
}

p {
  background-color: pink;
} */
